/* FOOTER */
.footer {
    margin-top: 2.5em;
    background-color: #fce7e9;

    .footer__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        list-style: none;

        .footer__img {
            max-width: 10em;
        }
        
        .footer__fb {
            max-width: 3em;
            fill: #372442;
        }
        
        .footer__ig {
            max-width: 3em;
            fill: #372442;
        }
    }  
}

@media (max-width: 60em) {
    .footer__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        text-align: center;

        .footer__fb {
            margin: 0.5em;
        }

        .footer__ig {
            margin: 0.5em;
        }
    }
}

/* FIN FOOTER */