/* HEADER */

.navbar__contenedor {
    background-color: #fce7e9;

    height: auto;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    box-shadow: 2px 2px 5px grey;
    
    .navbar__img {
        width: 80%;
    }
        
    
}

/* FIN HEADER */