/* ---HOTEL.HTML--- */

.seccion-hotel-suite1{
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 65%;

    background-color: #f1f0f0;
    box-shadow: 2px 2px 5px grey;
}



.seccion-hotel-suite2{
    background-color: #f1f0f0;
    box-shadow: 2px 2px 5px grey;

    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 65%;
}

.seccion-hotel-suite3{
    background-color: #f1f0f0;
    box-shadow: 2px 2px 5px grey;

    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 65%;
}




/* ---FIN HOTEL.HTML--- */