/* ---SERVICIOS.HTML--- */

.seccion__servicios{
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 65%;

    background-color: #f1f0f0;
    box-shadow: 2px 2px 5px grey;

    ul {
        div
        {
            img {
                width: 33%;
            }
        }
    }
}



/* ---FIN SERVICIOS.HTML--- */